version: '3'
services:
  wg-easy:
    container_name: wireguard-prod-1
    environment:
      - LANG=en
      - WG_HOST=your_ip_public
      - PASSWORD=your_password
    volumes:
      - ./wg-easy:/etc/wireguard
    ports:
      - 51820:51820/udp
      - 51821:51821/tcp
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
    restart: unless-stopped
    image: ghcr.io/wg-easy/wg-easy
    labels:
     - "traefik.enable=true"
     - "traefik.http.services.wireguard-prod-1.loadbalancer.server.port=51821"
     - "traefik.http.routers.wireguard-http.rule=Host(`wireguard.yourdomain.uk`)"
     - "traefik.http.routers.wireguard-https.rule=Host(`wireguard.yourdomaine.uk`)"
     - "traefik.http.routers.wireguard-https.entrypoints=websecure"
     - "traefik.http.routers.wireguard-http.entrypoints=web"
     - "traefik.http.routers.wireguard-https.tls=true"
     - "traefik.http.routers.wireguard-https.tls.certresolver=production"
     - "traefik.http.routers.wireguard-https.tls.domains[0].main=wireguard.yourdomaine.uk"
     - "traefik.http.routers.wireguard-https.tls.domains[0].sans=*.wireguard.yourdomaine.uk"
    networks:
      - traefik-prod-1
networks:
  traefik-prod-1:
    external: true